@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 12px));
  }
}
 
@keyframes marquee-right {
  from {
    transform: translateX(calc(-50% - 12px));
  }
  to {
    transform: translateX(0);
  }
}
 
/* Otimizações de performance */
.animate-marquee-left,
.animate-marquee-right {
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
 